
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    /* background: 
    linear-gradient(145deg, #e0f7fa, #b2ebf2),
    repeating-linear-gradient(
      -45deg,
      rgba(255,255,255,0.1),
      rgba(255,255,255,0.1) 1px,
      transparent 1px,
      transparent 6px
    );
  background-blend-mode: overlay;
  box-shadow: 
    inset 0 0 10px rgba(255,255,255,0.5),
    0 0 10px rgba(0,150,136,0.3); */

    /* background: linear-gradient(45deg, #CCCCCC, #FF4D6D, #9C27B0);
    animation: gradientBG 15s infinite alternate; */

    /* background: linear-gradient(rgba(0,255,255,0.05) 1px, transparent 1px); */

    background: #f8fafc;

    color: #333;
    line-height: 1.6;
    min-height: 100vh;
    padding: 20px;
    z-index: 30;
}

/* body {
    background-color: red;
    min-height: 100%;
    width: 100%;
    z-index: 16;
} */

/* #app {
    background-color: black;
    min-height: 100%;
    width: 100%;
    z-index: 16;
} */

/* #app{
    background: rgb(32, 155, 59);
    height: 100vh;
    width: 100%;
} */